<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="<%= url("css/style.css")%>">
    <title>Book Up</title>
  </head>
  
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Book Up</h1>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/index">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="/contribute">Contribute</a></li>
                </ul>
              </nav>
            </div>
          </div>

    <h1><a href="/" id="main">Book Up</a></h1>
    <h2><%=@book.title%></h2>
    <h3><%=@book.author%></h3>
    <a href="<%=@book.amazonlink%>">
    <img class="cover" src="<%=@book.imagelink%>" alt="Go to Amazon" >
    </a>
    <div id="button3">
    <form method="POST" action="/home">
      <input type="submit" value="New Book" id="submit">
    </form>
    </div>
  </body>
</html>