<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="<%= url("css/style.css")%>">
    <title>Book Up</title>
  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <h1 class="masthead-brand">Book Up</h1>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/contribute">Contribute</a></li
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
          <div class="inner cover">
            <br>
           
    <h2><%=@book.title%></h2>
    <h3><%=@book.author%></h3>
    <a href="<%=@book.amazonlink%>">
    <img class="cover" src="<%=@book.imagelink%>" alt="Go to Amazon" >
    </a>
    <div id="button3">
    <form method="POST" action="/home">
      <input type="submit" value="New Book" id="submit">
    </form>
    </div>
  </body>
</html>